# Preparing data for dashboard

Originally when we cleaned the data, we dropped the screen_name column from the dataframe. In order to gather location data for each user, we had to pull their location from the user profiles. In this notebook, we are re-cleaning the original tweets to get back the screen_name columns.

In [1]:
import pandas as pd
import numpy as np
import regex as re
import pickle
import string
from langdetect import detect

pd.set_option('display.max_colwidth', -1)

pd.set_option('display.max_rows', 1000)
#pd.set_option('display.max_columns', 500)

## Data cleaning  tweets

### Read in all tweets from csv

In [2]:
hurricanes = pd.read_csv("../Data/hurricane_tweets.csv")
floods = pd.read_csv("../Data/df_floods.csv")
fires = pd.read_csv("../Data/all_fires.csv")

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (4,12,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

#### Merge dataframes into one

In [3]:
# merge dataframes together
df = pd.concat([hurricanes, floods, fires], sort = False)

In [4]:
df.drop(columns = "Unnamed: 0", inplace = True)

In [5]:
df["text"] = df['text'].astype(str)

## Clean text columns

In [9]:
#df = df[["text", "disaster"]]

In [10]:
# lowercase text
df["text"] = df["text"].str.lower()



# remove URLs
df['text'] = df['text'].map(lambda x: re.sub('http[s]?:\/\/[^\s]*', ' ', x))


# remove URL cutoffs
df['text'] = df['text'].map(lambda x: re.sub('\\[^\s]*', ' ', x))



# remove spaces
df['text'] = df['text'].map(lambda x: re.sub('\n', ' ', x))


# remove picture URLs
df['text'] = df['text'].map(lambda x: re.sub('pic.twitter.com\/[^\s]*', ' ', x))

# remove blog/map type
df['text'] = df['text'].map(lambda x: re.sub('blog\/maps\/info\/[^\s]*', ' ', x))



# remove hashtags =
df["text"] = df["text"].map(lambda x: re.sub("\#[\w]*", "", x))


# remove AT users
df["text"] = df["text"].map(lambda x: re.sub("\@[\w]*", "", x))

#df['text'] = df['text'].apply(strip_all_entities)



# remove single quotations
df["text"] = df["text"].map(lambda x: re.sub("'", "", x))
df["text"] = df["text"].map(lambda x: re.sub("'", "", x))




# remove characters that are not word characters or digits
df["text"] = df["text"].map(lambda x: re.sub("[^\w\d]", " ", x))

# remove all characters that are not letters
df['text'] = df['text'].map(lambda x: re.sub("[^a-zA-Z]", " ", x))

# remove multiple spaces
df['text'] = df['text'].map(lambda x: re.sub("\s{2,6}", " ", x))

In [11]:
# remove tweets with this url type
df = df[~df["text"].str.contains("blogmapsinfo")]

In [12]:
df.shape

(77722, 23)

In [13]:
# drop duplicate rows
df.drop_duplicates(subset='text', keep='first', inplace=True)

In [14]:
# remove multiple spaces
df['text'] = df['text'].map(lambda x: re.sub("\s{3,20}", "", x))

In [15]:
# drop row with only one space
df = df[~(df["text"]== " ")]

In [16]:
# drop row with multiple spaces
df = df[~(df["text"]== "  ")]

In [17]:
# drop row with multiple spaces
df = df[~(df["text"]== " ")]

In [18]:
# drop empty row
df = df[~(df["text"]== "")]

## Detect languages of tweets

In [19]:
# this code was used to test for errors that would prevent the detect function from running
# languages = []
# for i in range(101,150):
#     try:
#         languages.append(detect(df.iloc[i, 0]))
#     except:
#         print(f"error in row {i}")

In [20]:
# apply detect function on text column
df["languages"] = df["text"].apply(detect)

In [21]:
df.shape

(63711, 24)

In [22]:
## Select for tweets that are English only
## this dropped 3_335 rows 
df_en = df[df["languages"] == "en"]

In [23]:
df_en.shape

(60365, 24)

## Continue cleaning on english column

Here we are removing multiple copies of the same letter. For example "thanksssssssss" is updated to "thanks".

In [24]:
# Wrote this as a function but it took forever to run, so breaking it out individually
# Saving code for future reference

# # list of all English letters
# letters = list(string.ascii_lowercase)

# # list of letters that typically don't repeat twice in an English word
# double_letters = ["q", "u", "w", "y"]

# def remove_repeats(letters):
#     for letter in letters:
#         if letter in double_letters:
#             df_en["text"].map(lambda x: re.sub(re.escape(letter)+"{2,10}", re.escape(letter), x))
#         else:
#             df_en["text"].map(lambda x: re.sub(re.escape(letter)+"{3,10}", re.escape(letter), x))


# df_en.loc[:, "text"] = df_en["text"].map(remove_repeats)

df_en.loc[:, "text"] = df_en['text'].map(lambda x: re.sub("a{3,10}", "a", x))
df_en.loc[:, "text"] = df_en['text'].map(lambda x: re.sub("b{3,10}", "b", x))
df_en.loc[:, "text"] = df_en['text'].map(lambda x: re.sub("c{3,10}", "c", x))
df_en.loc[:, "text"] = df_en['text'].map(lambda x: re.sub("d{3,10}", "d", x))
df_en.loc[:, "text"] = df_en['text'].map(lambda x: re.sub("e{3,10}", "e", x))
df_en.loc[:, "text"] = df_en['text'].map(lambda x: re.sub("f{3,10}", "f", x))
df_en.loc[:, "text"] = df_en['text'].map(lambda x: re.sub("g{3,10}", "g", x))
df_en.loc[:, "text"] = df_en['text'].map(lambda x: re.sub("h{3,10}", "h", x))
df_en.loc[:, "text"] = df_en['text'].map(lambda x: re.sub("i{3,10}", "i", x))
df_en.loc[:, "text"] = df_en['text'].map(lambda x: re.sub("j{3,10}", "j", x))
df_en.loc[:, "text"] = df_en['text'].map(lambda x: re.sub("k{3,10}", "k", x))
df_en.loc[:, "text"] = df_en['text'].map(lambda x: re.sub("l{3,10}", "l", x))
df_en.loc[:, "text"] = df_en['text'].map(lambda x: re.sub("m{3,10}", "m", x))
df_en.loc[:, "text"] = df_en['text'].map(lambda x: re.sub("n{3,10}", "n", x))
df_en.loc[:, "text"] = df_en['text'].map(lambda x: re.sub("o{3,10}", "o", x))
df_en.loc[:, "text"] = df_en['text'].map(lambda x: re.sub("p{3,10}", "p", x))
df_en.loc[:, "text"] = df_en['text'].map(lambda x: re.sub("q{2,10}", "q", x))
df_en.loc[:, "text"] = df_en['text'].map(lambda x: re.sub("r{3,10}", "r", x))
df_en.loc[:, "text"] = df_en['text'].map(lambda x: re.sub("s{3,10}", "s", x))
df_en.loc[:, "text"] = df_en['text'].map(lambda x: re.sub("t{3,10}", "t", x))
df_en.loc[:, "text"] = df_en['text'].map(lambda x: re.sub("u{2,10}", "u", x))
df_en.loc[:, "text"] = df_en['text'].map(lambda x: re.sub("v{3,10}", "v", x))
df_en.loc[:, "text"] = df_en['text'].map(lambda x: re.sub("x{3,10}", "x", x))
df_en.loc[:, "text"] = df_en['text'].map(lambda x: re.sub("y{2,10}", "y", x))
df_en.loc[:, "text"] = df_en['text'].map(lambda x: re.sub("z{3,10}", "z", x))

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [29]:
df_en.shape

(60365, 24)

In [49]:
df_en = df_en[["screen_name", "username", "user_id", "tweet_id", "timestamp", "timestamp_epochs", "text"]]

In [50]:
df_en.columns

Index(['screen_name', 'username', 'user_id', 'tweet_id', 'timestamp',
       'timestamp_epochs', 'text'],
      dtype='object')

## Read in previous cleaned data

Here we are reading in the previously cleaned data in order to merge back with original df to get the screen_name column.

In [26]:
# read csv
clean_df = pd.read_csv("../Data/all_tweets_clean.csv")

In [27]:
clean_df.shape

(60352, 4)

# Merge datasets together to get back usernames

In [51]:
merged_df = pd.merge(left=df_en,
                     right=clean_df,
                     left_on='text', 
                     right_on='text', how = "inner")

In [52]:
merged_df.shape

(3090, 10)

In [57]:
requesting_help = merged_df[merged_df["requesting_help"].notnull()]

In [58]:
requesting_help.shape

(125, 10)

## Write to csv

In [63]:
requesting_help.to_csv("../Data/requesting_help.csv", index = False)